@{
    ViewBag.Title = "Contact";
}

    <div>
        <h4>Contact</h4>
        <hr />

        <form action="/Home/ContactUs" method="post">
            
            <div class="col-md-3">
            <label for="name" class="form-label-c">Name:</label>
            <input type="text" name="name" id="name" value="" class="form-control" /><br />

            <label for="email" class="form-label-c">Email:</label>
            <input type="email" name="email" id="email" value="" class="form-control" /><br />
        </div>
        <div class="btn-outline-success">
            <button >Submit</button>
          </div>
           
        </form>


        @if (!string.IsNullOrEmpty(ViewBag.Name) && !string.IsNullOrEmpty(ViewBag.Email))
        {
            <pre>
                      Name: @ViewBag.Name
                      Email: @ViewBag.Email
                </pre>
        }
        else
        {
            <pre>
                    Values are not set yet!
                </pre>
        }
    </div>

