@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add New";
}

<div>
    <h4>Add New Product</h4>
    <hr />

    <form asp-controller="Products" asp-action="Save" method="post">
    
        <div id="error-summary" asp-validation-summary="All"></div>

        <label asp-for="Id"></label>
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>

        <div class="mb-3">
          <label asp-for="Title" class="form-label"></label>
          <input asp-for="Title" placeholder="Add Title" class="form-control" />
          <span asp-validation-for="Title"></span>
        </div>

        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="Add Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Website"></label>
        <input asp-for="Website" placeholder="Add Website" />
        <span asp-validation-for="Website"></span>

        <label asp-for="Price"></label>
        <input min="0" max="500" asp-for="Price" />
        <span asp-validation-for="Price"></span>

        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="4" cols="20"></textarea>
        <span asp-validation-for="Description"></span>

        <button type="submit">Save</button>
            
    </form>
</div>

@{
    @section Styles {
        <style>
            span, #error-summary {
                color: red;
            }
        </style>
    }

    @section Scripts {
        <script>
          function submitConfirmation() {
              var msg = confirm('Are you sure to save this product?');

              if(!msg) {
                  return false;
              }

              return true;
          }
        </script>

        <script src="~/js/jquery-3.7.0.min.js"></script>
        <script src="~/js/jquery.validate.min.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    }
}