<br/>
<div class="row mb-3">
    <div class="col-md-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="mb-3 d-grid">
            <button class="btn btn-outline-primary" type="submit">Subscribe Now</button>
        </div>
    </div>
</div>
